<%= form_with(model: capital, local: true) do |form| %>
  <% if capital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(capital.errors.count, "error") %> prohibited this capital from being saved:</h2>

      <ul>
        <% capital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.number_field :population %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.number_field :country_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
