<p id="notice"><%= notice %></p>

<h1>Столиці</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Назва</th>
      <th scope="col">Населення</th>
      <th scope="col">Країна</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @capitals.each_with_index do |capital, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= capital.name %></td>
        <td><%= capital.population %></td>
        <td><%= Country.find(capital.country_id).name %></td>
        <td><%= link_to 'Детальніше', capital %></td>
        <td><%= link_to 'Редагувати', edit_capital_path(capital) %></td>
        <td><%= link_to 'Видалити', capital, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="addNewItemLink">
  <%= link_to 'Додати нову столицю', new_capital_path %>
</div>
