<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<table class="table table-bordered table-hover">
  <tbody>
      <tr>
        <td scope="row"><strong>Ім'я</strong></td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td scope="row"><strong>Email</strong></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td scope="row"><strong>Пароль</strong></td>
        <td><%= @user.password %></td>
      </tr>
  </tbody>
</table>
