<p id="notice"><%= notice %></p>

<h1>Країни</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Назва</th>
      <th scope="col">Місцезнаходження</th>
      <th scope="col">Мова</th>
      <th scope="col">Валюта</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each_with_index do |country, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= country.name %></td>
        <td><%= country.location %></td>
        <td><%= country.language %></td>
        <td><%= country.currency %></td>
        <td><%= link_to 'Детальніше', country %></td>
        <td><%= link_to 'Редагувати', edit_country_path(country) %></td>
        <td><%= link_to 'Видалити', country, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Додати країну', new_country_path %>
