<p id="notice"><%= notice %></p>

<h1>Пам'ятки природи</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Назва</th>
      <th scope="col">Опис</th>
      <th scope="col">Країна</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each_with_index do |attraction, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= attraction.name %></td>
        <td><%= attraction.description %></td>
        <td><%= Country.find(attraction.country_id).name %></td>
        <td><%= link_to 'Детальніше', attraction %></td>
        <td><%= link_to 'Редагувати', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Видалити', attraction, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="addNewItemLink">
  <%= link_to 'Додати нову пам\'ятку природи', new_attraction_path %>
</div>
