<p id="notice"><%= notice %></p>

<h1><%= @attraction.name %></h1>

<table class="table table-bordered table-hover">
  <tbody>
      <tr>
        <td scope="row"><strong>Назва</strong></td>
        <td><%= @attraction.name %></td>
      </tr>
      <tr>
        <td scope="row"><strong>Опис</strong></td>
        <td><%= @attraction.description %></td>
      </tr>
      <tr>
        <td scope="row"><strong>Країна</strong></td>
        <td><%= Country.find(@attraction.country_id).name %></td>
      </tr>
  </tbody>
</table>

<p><%= link_to 'Редагувати', edit_attraction_path(@attraction) %></p>
<p><%= link_to 'Видалити', @attraction, method: :delete, data: { confirm: 'Ви впевнені?' } %></p>
<p><%= link_to 'Назад', attractions_path %></p>
